# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled code
*.so
*.dll
*.dylib
*.exe

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/

# Ignore log files
*.log

#ignore node_modules
node_modules/



.env

launch.json
