.upload-page {
    padding: 20px;
  }
  
  .upload-content {
    text-align: center;
  }
  
  .upload-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .upload-card {
    border: 1px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .upload-card:hover {
    background-color: #f0f0f0;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
  }

  .modal-content input {
    margin: 10px 0;
    width: 100%;
  }

  .modal-content label {
    display: block;
    margin: 10px 0;
  }

  .create-collection-btn {
    background-color: #00aaff; /* Light blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 20px; /* Space above the button */
  }

  .create-collection-btn:hover {
    background-color: #0088cc; /* Darker blue on hover */
  }